<%- include('../partials/head.ejs'); -%>

<div class="flex flex-1 justify-center">
  <div class="bg-white p-8 rounded-lg w-[660px]">
    <div class="flex">
      <div class="mr-2">
        <div class="mb-6">
          <h1 class="mb-3 font-bold text-[#80297d] text-lg">Horário:</h1>
          <h1 class="font-bold text-2xl">16:54:36</h1>
        </div>

        <label for="codigo" class="text-sm/6 font-medium text-gray-900">Código do Empregador <span class="text-red-500">*</span></label>
        <div class="mt-2">
          <input type="text" id="codigo" class="w-72 rounded-md border border-gray-400 text-gray-900 focus:outline focus:outline-0 sm:text-sm/6" placeholder="">
        </div>
      </div>

      <div class="ml-2">
        <div class="mb-6">
          <h1 class="mb-3 font-bold text-[#80297d] text-lg">Data:</h1>
          <h1 class="font-bold text-2xl">26/12/2024</h1>
        </div>

        <label for="codigo" class="text-sm/6 font-medium text-gray-900">PIN <span class="text-red-500">*</span></label>
        <div class="mt-2">
          <input type="text" id="codigo" class="w-72 rounded-md border border-gray-400 text-gray-900 focus:outline focus:outline-0 sm:text-sm/6" placeholder="">
        </div>
      </div>
    </div>
    <div>
      <button class="bg-[#80297d] text-white w-full rounded-md mt-8 py-2">Registar</button>
    </div>

    <div class="bg-[#d0f2ff] mt-10 rounded-md border border-[#74caff]">
      <div class="p-4 flex">
        <svg class="text-[#1890ff] fill-current h-6 w-6 mr-2" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m16 0c8.836556 0 16 7.163444 16 16s-7.163444 16-16 16-16-7.163444-16-16 7.163444-16 16-16zm1.2 19.5h-2.4v2.4h2.4zm-.2-10.5h-2v9h2z" fill-rule="evenodd"/></svg>
        <p class="text-[#04297a] font-semibold">Para o correto funcionamento do registro de ponto com foto do Tangerino Web, utilize o navegador Google Chrome</p>
      </div>
    </div>

    <div class="flex justify-between mt-8">
      <div>
        <img src="/logo_solides_purple.svg" alt="">
      </div>
      <div>
        <p class="font-semibold text-[#637381]">© <span id="ano"></span> Sólides Tecnologia</p>
      </div>
    </div>
</div>
</div>
<script>
  // Obtém o ano atual
  const anoAtual = new Date().getFullYear();
  // Insere o ano no elemento com id "ano"
  document.getElementById('ano').textContent = anoAtual;
</script>

<%- include('../partials/footer.ejs'); -%>